<head>
    <style type="text/css">
        #Password1 {
            width: 589px;
            height: 67px;
        }
        #link_entry {
            width: 739px;
            height: 41px;
        }
        #shorten_button {
            height: 42px;
        }
        .auto-style2 {
            width: 41px;
            height: 41px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    </style>
</head>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Link Shortener</h1>
</div>
<p>
    <img class="auto-style2" src="~/Images/link-management-icon.png" style="background-color: #FF0000" />
    <input id="link_entry" 
           type="text" 
           style="font-family: 8514oem; font-size: 26px; text-decoration: underline overline line-through; color: #000080; font-style: italic; font-weight: bolder; background-color: #FF9933; border: thick dotted #FF0000" />
    <input id="shorten_button" 
           type="button" 
           onclick="location.href='@Url.Action("OnSubmitLink", "Home")'"
           value="Shorten Link" 
           style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 25px; font-weight: normal; font-style: normal; font-variant: small-caps" />
</p>